:root {
--background-color: #e6f9ff;
--text-color: #333333;
--grid-color: #b3d6ff;
--accent-color : #b3ccff;
--accent-color2 : #99b3ff;
}

.dark-mode {
--background-color: #2d2d2d;
--text-color: #f2f2f2;
--grid-color: #4d4d4d;
--accent-color : #990099;
--accent-color2 : #737373;
}


body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--accent-color)
}

.header-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}


.header-title {
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-button {
  padding: 5px 10px;
  background-color: #dddddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  display: flex;
  height: calc(100vh - 120px); /* Adjust based on header and footer heights */
}

.content-section {
  flex: 1;
  padding: 20px;
}

.left-section {
  background-color: var(--accent-color2);
}

.middle-section {
  background-color: var(--background-color);
  background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
                      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 20px 20px;
  flex-basis: 50%;
}

.middle-text {
  color: var( --text-color)
}


.right-section {
  background-color: var(--accent-color2);
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: var(--accent-color)
}
