.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.middle-section {
  height: 100%;
  margin-top: 2.5%;
  display: flex;
}

.left-section {
  width: 15%;
  background-color: #282c34; /* Obsidian sidebar background color */
  border: 1px solid black;
}

.middle-markdown {
  padding: 10px;
  padding-top: 2%;
  width: 85%;
  background-color: #1f2329;  /* Obsidian editor background color */
  color: #c8d1e2; /* Obsidian editor text color */
}

