.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  flex: 0 0 5%;
  width: 100%;
}

.middle-section {
  flex: 1 0 auto;
  display: flex;
}

.left-section {
  flex: 0 0 15%;
  background-color: rgb(233, 226, 232);
  border: 1px solid black;
}

.middle-markdown {
  margin-top: 60px;
  padding: 10px;
  flex: 0 0 70%; 
  background-color: rgb(202, 173, 198);
}

.right-section {
  flex: 0 0 15%;
  background-color: rgb(233, 226, 232);
  border: 1px solid black;
}

.footer {
  background-color: #f89c9c;
  flex: 0 0 5%;
  width: 100%;
}