.canvas-file-display{
  background-size: 20px 20px;
  background-image: radial-gradient(circle, #353535 1px, rgba(0, 0, 0, 0) 1px);
  background-color: black;
  margin-top: 20px;
  height: 88.5vh;
  width: 98.8%;
  position: relative;
  padding: 10px;
  padding-top: 2%;
  overflow: hidden;
}

.canvas-warning{
  width: 1450px;
  margin: 25px;
  text-align: center;
  padding: 23px;
  border: 1px solid #971c1c;
  background-color: rgb(27, 28, 31);
}