.button-contents {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  overflow: auto;
  max-height: 92.3vh; /* Adjust the height as needed */
}

/* .button-line {
 
} */

.fileButton {
  border: 0.5px solid #00000033;
  background-color: #0000003f;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: white;
  text-align: left;
}

.fileButton.darker {
  background-color: transparent;
  color: #fff;
}

.fileButton.darker:hover {
  background-color: #14141457;
  color: #fff;
}

.fileButton:hover {
  background-color: #1414148f;
}

.fileButton.selected {
  font-weight: bold;
  background-color: #88888849;
  border: 1px solid #b8d4f3;
  color: #dfdfdf;
}
