.links {
  color: #2196f3; /* Purple color */
  text-decoration: none;
  position: relative;
}

.links::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2196f3; /* Purple color */
}


.mdContent {
  overflow: auto;
  height: 88.1vh;
  box-sizing: border-box;
  background-color: #1f2329; 
  padding: 10px;
  padding-top: 2%;
}

