.node {
    border-radius: 7px;
    border-width: 1px;
    border-color: #989;
    position: absolute;
    border-style: solid;
    transform: translate(-50%, -50%);
    background-color: #191721;
    color: #aaa;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
  }
  
.node.selected
{
    border-color: rgb(152, 237, 219);
}
